/*
 *Estilos generales
*/
@import url('http://fonts.cdnfonts.com/css/lexend-deca');

/*
 * Main container
*/
#mainContainer {
    /* position: relative; */
    margin-top: 100px !important;
    height: 80vh;
    width: fit-content;
    background-color: rgb(255, 255, 255, .8);
    background-image: url("../images/loginBackground.png") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Lexend Deca;
}

/*
 * Form
*/
#loginForm {
    position: absolute;
    height: auto;
    width: 100%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(233, 24, 24, 0.8); */
    text-align: center;
    max-width: 400px;
    margin-bottom: 150px;
}
#loginLogo{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30px;
    color: rgb(82, 19, 134);
}
#loginTitle {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.loginInput {
    width: 88%;
    height: 45px;
    margin-left: 6%;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 80%;
    overflow: hidden;
    transition: 0.2s ease all;
}
.loginInput img{
    margin: auto;
    height: 20px;
}
.loginInput input {
    border: none;
    outline: 0;
}
#loginUserOptions{
    margin-left: 6%;
    width: 88%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 15px;
}
#cbRemenberMe{
    position: relative;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: all ease .2s;
}
.checkBoxChecked::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 8px;
    left: 25%;
    border-right: 3px solid #264fca;
    border-bottom: 3px solid #264fca;
    transform: rotate(45deg);
}
#cbRemenberMe:checked{
    height: 15px;
    width: 8px;
    border: none;
    border-radius: 0;
    margin: -3px 10px 0px 10px;
    border-right: 3px solid #264fca;
    border-bottom: 3px solid #264fca;
    transform: rotate(45deg);
}
#cbRemenberMe:checked ~ ::after{
    opacity: 1;
}
#loginBtn{
    width: 88%;
    height: 45px;
    background-color: #264fcae7;
    border-radius: 10px;
}
#loginBtn:hover{
    width: 88%;
    height: 45px;
    background-color: #3B13B0e7;
    border-radius: 10px;
}


/*
 * Waves
*/
#loginWavesContainer{
    position: absolute;
    width: 100%;
    height: 12vh;
    bottom: 0px;
    left: 0px;
}
.loginWave{
    position: absolute;
    width: 100%;
    height: 100%;
}


